* {
    font-family: Arial, Helvetica, sans-serif
}

/* index logo size */
h1 {
    font-size: 72px;
    font: tahoma;
    font-weight: 500;
}

/* center Search and Images pages */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* search bar Search and Images pages */
form[action="https://google.com/search"] {
    width: 100%;
}

/* Search/Images search bar settings */
#query {
    border-radius: 15px;
    border: 1px #DDDDDD solid;
    padding: 5px;
    padding-left: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#query:hover {
    border: 1px #CCCCCC solid;
    box-shadow: 0px 1px 1px #D3D3D3;
}

/* Search/Images button settings */
.buttons {
    width: 320px;
    margin: 0 auto;
}
.buttons > input {
    text-align: center;
    width: 150px;
    height: 35px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #F8F8F8;
    border-radius: 4px;
    border-style: none;
}
#imageButton {
    width: 160px;
}
.buttons > input:hover {
    border:#DDDDDD 1px solid;
}

/* grid settings */
.grid {
    display: grid;
    padding: 20px;
    grid-column-gap: 20px;
    vertical-align: text-bottom;
    margin-left: -15px;
}
.grid-item input {
    width: 100%;
    border: 1px #CCCCCC solid;
    padding-left: 10px;
    padding: 5px;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.grid-item .top {
    font-size: 12px;
}
.grid-item label {
    font-size: 85%;
    margin-top: 15px;
    margin-bottom: 15px;
}
.courier {
    font-family: Courier New;
}
#advancedButton {
    float: right;
    background-color: #4285F4;
    color: white;
    font-weight: bold;
    margin-right: 0%;
    margin-left: auto;
    width: 140px;
    font-size: 12px;
    border-radius: 3px;
}
#advancedButton:hover {
    background-color: #2f76e9;
}

.logoAdvanced {
    font-size: 24px;
    font-weight: 500;
}
.mainAdvanced {
    margin: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

#advancedHeader {
    color: #DB4437;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
}

#topSeparator {
    margin-bottom: 40px;
}

/* screen width dependent settings */
@media (min-width: 900px) {
    .grid {
        grid-template-columns: 160px 50% auto;
    }
    .weird {
        display: none;
    }
    #query {
        width: 600px;
    }
}
@media (max-width: 899px) {
    .grid {
        grid-template-columns: 160px auto 0;
    }
    .form-text, #third {
        display: none;
    }
    #query {
        width: 75vw;
    }
}