/* Google logo colors */
.blue{
    color: #4285F4;
}
.red {
    color: #DB4437;
}
.yellow {
    color: #F4B400;
}
.green {
    color: #0F9D58;
}

/* index logo size */
h1 {
    font-size: 72px;
    font: tahoma;
}

.container {

    display: flex;
    justify-content: center;
    align-items: center;
}

form[action="https://google.com/search"] {
    width: 50%;
}

#query {
    width: 100%;
    border-radius: 15px;
    border: 1px rgb(59, 58, 58) solid;
    padding: 5px;
    padding-left: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    z-index: 5;
}

.buttons {
    text-align: center;
}

